{%  extends 'master.html'%}
{% block 'content' %}


   <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <!-- templates/rooms/room_list.html -->
             <h2>Room List</h2>

         <table border="1" cellpadding="8">
    <tr>
        <th>Room Number</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    {% for room in rooms %}
    <tr>
        <td>{{ room.number }}</td>
        <td>{{ room.get_status_display }}</td>
        <td>
            <a href="{% url 'RoomStatus' room.id %}">Update Status</a>
        </td>
    </tr>
    {% endfor %}
       </table>

                  </div>
                </div>
              </div>
             
            </div>
          </div>
  <!-- content-wrapper ends -->
{% endblock 'content'%}
