{%  extends 'master.html'%}
{% block 'content' %}
  
<div class="content-wrapper">
            <div class="row">
              
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-success"> {{ message}}</div>
                  {% endfor %}
                  {% endif %}

                  <div class="card-body">
                    <h4 class="card-title"> Room Status</h4>
                    <p class="card-description">  </p>
                      <form class="forms-sample" method="POST" enctype="multipart/form-data" action="">
                      {% csrf_token %}
                     
                   
                    <div class="table-responsive">
                      <div>
                        <label for="exampleInputConfirmPassword1">Room Status</label>
                        <input type="text" class="form-control" name="roomstatus" id="exampleInputConfirmPassword1" placeholder="Room Status">
                      </div>
                      <div>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                      </div>
                      <a href="{% url 'roomstatus' %}"> Back to Room Status</a>
                    </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
  <!-- content-wrapper ends -->
{% endblock 'content'%}
